@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

@theme {
  
   --color-primary:#003260;
   --color-dark: #00284D;
   --color-light: #416F9B;
   

  --color-background: #FFFFFF;
  --color-surface: #F8FAFC;
  
  --color-text: #1F2937;
  --color-text-secondary: #6B7280;

  --color-border: #E5E7EB;

  --font-sans: var(--font-iranyekan);
}

body{
  background: var(--color-background);
  color: var(--color-text);
  direction: rtl;
  min-height: 100vh;
}

.container {
  max-width: 1350px;
  margin-inline: auto;
  padding-inline: 16px;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 24px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-inline: 40px;
  }
}

@media (min-width: 1536px) {
  .container {
    padding-inline: 56px;
  }
}